* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Orbitron;
}

@font-face {
  font-family: Orbitron;
  src: url(../fonts/Orbitron-VariableFont_wght.ttf);
}

body {
  background-color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 5em;
}

button {
  font-size: 0.5em;
  border-radius: 30px;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: linear-gradient(to left, #666, #888);
}
